<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  {{- $bootstrapCss := "css/style.css" -}}
  <link rel="stylesheet" href="{{ $bootstrapCss | absURL }}" />
  {{- if .IsHome -}}
  {{ $homepage := "Hackers Pad" }}
  <title>{{ $homepage }} | {{ .Site.Params.description }}</title>
  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">
  {{ end }}
  {{ else }}
  <title>{{ len .Params.keywords}} Alternatives To {{ .Title }}-{{ .Site.Params.brand }}</title>
  <meta name="description" content="{{ if .Summary }}{{ .Summary | truncate 165 }}{{ end }}"/>
  {{ end }}

  {{ partial "style.html" . }}
</head>

<body>
  {{ partial "nav.html" . }}
  
  <div class="container">
    <article>
<div class="row">
  <div class="col-sm-12">
    {{ if .Params.verified }}
    <div class="card mb-3 feature">
      {{ else }}
      <div class="card mb-3">
        {{ end }}
        <div class="card-body">
          {{ partial "verified" . }}
          <div class="media">
            {{ $imagePath := printf "images/%s" .Params.image }}
            {{- $image := resources.Get $imagePath -}}
            {{ with $image }}
            {{ if in (slice "jpeg" "png") .MediaType.SubType }}
            <img class="mr-3" src="{{ ($image.Fill " 64x64 q75 Center").RelPermalink }}" alt="{{ .Title }}}}">
            {{ end }}
            {{ end }}
            <div class="my-12">
              <div class="media-body">
                <h1 class="mt-0"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                  <dull><a href="{{ .Params.website }}" target="_blank"><i
                        class="pl-2 bi bi-box-arrow-in-up-right"></i></a></i></dull>
                </h1>
                <div class="mt-2">{{ .Content }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3>{{ len .Params.keywords}} Alternatives To {{ .Title }}</h3>
      {{ $pages := first 0 site.Pages }}
        {{ range .Params.keywords }}
          {{ with site.GetPage (path.Join "software" .) }}
            {{ $pages = $pages | append . }}
          {{ end }}
        {{ end }}
      {{ range $pages.ByParam "verified" }}
      {{ if .Params.verified}}
      <div class="card mb-3 feature">
        {{ else }}
      <div class="card mb-3">
        {{ end }}
        <div class="card-body">
          {{ partial "verified" . }}
          <div class="media">
            {{ $imagePath := printf "images/%s" .Params.image }}
            {{- $image := resources.Get $imagePath -}}
            {{ with $image }}
            {{ if in (slice "jpeg" "png") .MediaType.SubType }}
            <img class="mr-3 align-self-center" src="{{ ($image.Fill " 64x64 q75 Center").RelPermalink }}"
              alt="{{ .Title }}}}">
            {{ end }}
            {{ end }}
            <div class="media-body">
              <h1 class="mt-0"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                <dull><a href="{{ .Params.website }}" target="_blank"><i
                      class="pl-2 bi bi-box-arrow-in-up-right"></i></a></i></dull>
              </h1>
              <div class="mt-2">{{ .Summary }}</div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</article>
{{ partial "footer.html" . }}
</div>
</body>


</html>
