{{- define "main" -}}
<div class="row">
  <div class="col-sm-2"></div>  
  <div class="col-sm-10">
    {{ if .Params.verified }}
    <div class="card mb-3 feature">
      {{ else }}
      <div class="card mb-3">
        {{ end }}
      <div class="card-body">
        {{ partial "verified" . }}
        <div class="media">
          {{ $imagePath := printf "images/%s" .Params.image }}
          {{- $image := resources.Get $imagePath -}}  
          {{ with $image }}
          {{ if in (slice "jpeg" "png") .MediaType.SubType }}
          <img class="mr-3" src="{{ ($image.Fill "64x64 q75 Center").RelPermalink }}" alt="{{ .Title }}}}">
          {{ end }}
          {{ end }}
          <div class="my-12">
          <div class="media-body">
            <h1 class="mt-0"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a><dull><a href="{{ .Params.website }}" target="_blank"><i class="pl-2 bi bi-box-arrow-in-up-right"></i></a></i></dull></h1>
            <div class="mt-2">{{ .Content }}</div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <h3>{{ len .Params.keywords}} Alternatives To {{ .Title }}</h3>
    {{ with .Params.keywords }}
    {{ range . }}
      {{ with site.GetPage (path.Join "software" .) }} 
      {{ if .Params.verified }}
      <div class="card mb-3 feature">
        {{ else }}
      <div class="card mb-3">
        {{ end }}
        <div class="card-body">
          {{ partial "verified" . }} 
          <div class="media">
            {{ $imagePath := printf "images/%s" .Params.image }}
            {{- $image := resources.Get $imagePath -}} 
            {{ with $image }} 
            {{ if in (slice "jpeg" "png") .MediaType.SubType }}
            <img class="mr-3 align-self-center" src="{{ ($image.Fill "64x64 q75 Center").RelPermalink }}" alt="{{ .Title }}}}">
            {{ end }}
            {{ end }}
            <div class="media-body"> 
              <h1 class="mt-0"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a><dull><a href="{{ .Params.website }}" target="_blank"><i class="pl-2 bi bi-box-arrow-in-up-right"></i></a></i></dull></h1>
              <div class="mt-2">{{ .Summary }}</div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    {{ end }}
  {{ end }}
 </div>
</div>
{{ end }}