#soft-cta {
    background-color: #f03e3e;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    padding: 14px 28px 12px 28px;
    border-radius: 2px;
    display: inline-block;
    margin-top: 15px;
    box-shadow: 0 4px 4px -2px rgb(144 146 148 / 20%);
    transition: all 0.2s;
    border: none;
    margin: 0;
    font-weight: 600;
}

.h1, h1 {
    font-size: 1.25rem !important;
}

.h2, h2 {
    font-size: 1.125rem !important;
}

.jumbotron-heading{font-size: 30px !important;}

.feature {
    background-color: rgba(255,213,0,0.2);
}