<div class="row ">
<div class="col-3"></div>
<div class="col-6">
<script async src="https://cse.google.com/cse.js?cx=7849a5f521f9c7798"></script>
<div class="gcse-search"></div>
</div>
<div class="col-3"></div>
</div>
{{ partial "bootstrap-js.html" . }}
{{ partial "google-analytics.html" . }}
{{ partial "adsense.html" . }}
<iframe width="560" height="315" src="https://www.youtube.com/embed/9J8JNK6wIWU?autoplay=1&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
