<h3>{{ .Title }} Alternatives</h3>
{{ $related := .Site.RegularPages.Related . | first 500 }}
{{ with $related }}
	{{ range . }}
	<div class="row">
		<div class="col-sm-12">
	  <div class="card mb-3">
		<div class="card-body">
		  <div class="media">
			<div class="media-body">
			  <h5 class="mt-0"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a><dulls><a href="{{ .Params.website }}" target="_blank"><i class="pl-2 bi bi-box-arrow-in-up-right"></i></a></i></dulls></h5>
			  <small class="text-secondary">
				{{ partial "tags" . }}
				{{ partial "categories" . }}
				</small>
			  {{ .Content }}
			</div>
		  </div>
		</div>
	  </div>
	  </div>
	  </div>
	{{ end }}
{{ end }}




